/* ==========================================================================
   Footer
   ========================================================================== */

.l-footer {
    @include aloof(3);
}

    .l-footer__panel {
        background: color(highlight);
        color: color(background);
        padding: lines(3) 0;
    }