/* ==========================================================================
   Hero header
   ========================================================================== */

.l-hero-header {
    @include no-spacing;
    @include island(3);

    position: relative;
    background: color(text--dark);
    overflow: hidden;

    &:before {
        content: '';
        display: block;
        padding-bottom: 50%;

        @include media('<layout') {
            padding-bottom: 70%;
        }

        @include media('<line') {
            display: none;
        }
    }

    @include media('<line') {
        overflow: visible;
        height: lines(3);
        padding: lines(.5) 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: color(background);
        z-index: 10000;
        border-bottom: 1px solid rgba(black, .075);

        & + * {
            margin-top: lines(5) !important;
        }
    }
}

    .l-hero-header__content {
        @keyframes fade-in {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: lines(2) 0 lines(3);
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        animation: fade-in 2s;

        @include media('<layout') {
            padding-top: lines(1);
        }

        @include media('<line') {
            @include no-spacing;

            padding: 0;
            position: relative;
            display: block;
            animation: none;
        }

        .l-hero-header.is-floating & {
            @keyframes drop-in {
                0% {
                    opacity: 0;
                    transform: translateY(-100%) translateZ(0);
                }
                100% {
                    opacity: 1;
                    transform: translateZ(0);
                }
            }

            @include no-spacing;

            display: block;
            height: lines(5.5);
            padding: lines(1) 0 lines(.5);
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: auto;
            background: color(background);
            z-index: 10000;
            border-bottom: 1px solid rgba(black, .075);
            animation: drop-in .5s;
            transform: translateZ(0);
        }
    }

        .l-hero-header__wrapper {
            @include no-spacing;

            flex-shrink: 0;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;

            &:after {
                display: none;
            }

            @include media('<line') {
                align-items: center;
            }
        }

            .l-hero-header__audio-control {
                float: left;
                color: color(background);
                transition: color .3s;

                &:hover,
                &:focus {
                    color: color(highlight--light);
                }

                @include media('<line') {
                    display: none;
                }

                .l-hero-header.is-floating & {
                    display: none;
                }
            }

            .l-hero-header__secondary-nav {
                float: right;
                color: color(background) !important;
                align-self: center;

                @include media('<line') {
                    display: none;
                }

                .l-hero-header.is-floating & {
                    margin-left: auto;
                    color: color(highlight) !important;
                }
            }

            .l-hero-header__logo {
                float: left;
                display: none;
                flex: none;
                height: lines(2.5);

                @include media('<line') {
                    display: block;
                    height: lines(2);
                }

                .l-hero-header.is-floating & {
                    display: block;
                }
            }

            .l-hero-header__switch {
                display: flex;
                align-items: center;
                font-family: font(sans-serif);
                text-transform: uppercase;
                letter-spacing: .05em;

                &:hover,
                &:focus {
                    color: color(highlight);
                }

                @include media('>=line') {
                    display: none;
                }
            }

            .l-hero-header__nav {
                @include center;

                color: color(background);

                @include media('<line') {
                    @include out-of-flow;

                    display: block;
                    margin-right: 0;
                    margin-left: 0;
                    position: fixed;
                    top: lines(3);
                    left: 0;
                    bottom: 0;
                    width: 80%;
                    box-shadow: 1px 0 0 0 rgba(black, .075);
                    transform: translateZ(0) translateX(-100%);
                    will-change: transform;
                    transition: transform .3s ease-in;
                    z-index: 10000;

                    &[aria-expanded="true"],
                    &:target {
                        transform: translateZ(0);
                        transition-timing-function: ease-out;
                    }
                }

                .l-hero-header.is-floating & {
                    float: right;
                    color: color(text);
                    margin-right: 2vw;
                    margin-bottom: lines(-.5);
                }
            }

                .l-hero-header__subnav {
                    top: auto;
                    bottom: lines(5.5);

                    .l-hero-header.is-floating & {
                        top: 100%;
                        bottom: auto;
                    }
                }

        .l-hero-header__promo {
            @include island(2);
            @include no-spacing;

            width: 30%;

            @include media('<line') {
                display: none;
            }

            .l-hero-header.is-floating & {
                display: none;
            }
        }

            .l-hero-header__hero-logo {
                width: 100%;
            }

            .l-hero-header__headline {
                @include display-type;

                color: color(background);
                text-align: center;
                text-transform: uppercase;
                letter-spacing: .4em;
                margin-top: 10vw;
            }

            .l-hero-header__icon {
                @include island(2);
                @include center;

                display: block;
                color: color(background);
                transform: rotate(90deg);
            }

    .l-hero-header__video {
        @include no-spacing;
        @include size(100%);

        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        z-index: 1;
        transform: translateY(-50%);
        object-fit: cover;

        @include media('<line') {
            display: none;
        }

        .l-hero-header.is-floating & {
            display: none;
        }
    }
