/* ==========================================================================
   Header
   ========================================================================== */

.l-header {
    @include no-spacing;
}

    .l-header__wrapper {
        @include no-spacing;

        display: flex;
        align-items: flex-end;
    }

        .l-header__logo {
            display: inline-block;
            min-width: 12em;
        }

        .l-header__nav {
            display: inline-block;
            margin-left: auto;
        }

        .l-header__search {

        }

        .l-header__language {

        }