/* ==========================================================================
   Header
   ========================================================================== */

.l-header {
    $height: lines(5);

    @include no-spacing;

    padding: lines(1) 0 lines(.5);
    position: relative;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: color(background);
    z-index: 10000;
    box-shadow: 0 1px 0 0 rgba(black, .075);
    height: $height;

    @include media('<line') {
        display: none;
    }

    & + * {
        margin-top: $height !important;
    }
}

    .l-header__wrapper {
        @include no-spacing;

        display: flex;
        align-items: flex-end;
    }

        .l-header__logo {
            display: inline-block;
            min-width: 15em;
            margin-top: lines(.5);
            margin-bottom: lines(.5);
        }

        .l-header__nav {
            display: inline-block;
            margin-right: 2vw;
            margin-left: auto;
        }

    .l-header__secondary-nav {
        text-align: right;
        margin-bottom: lines(-1);
    }