/* ==========================================================================
   Header
   ========================================================================== */

.l-header {
    @include no-spacing;

    padding: lines(1) 0 lines(.5);
    position: relative;
}

    .l-header__wrapper {
        @include no-spacing;

        display: flex;
        align-items: flex-end;
    }

        .l-header__logo {
            display: inline-block;
            min-width: 15em;
            margin-top: lines(.5);
            margin-bottom: lines(.5);
        }

        .l-header__nav {
            display: inline-block;
            margin-right: 2vw;
            margin-left: auto;
        }

        .l-header__secondary-nav {
            position: absolute;
            top: lines(1);
            right: 2vw;
        }