/* ==========================================================================
   Hero header
   ========================================================================== */

.l-hero-header {
    @include no-spacing;
    @include island(3);

    position: relative;
    background: color(text--dark);

    @include media('<line') {
        height: lines(3);
        padding: lines(.5) 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: color(background);
        z-index: 10000;
        border-bottom: 1px solid rgba(black, .075);

        & + * {
            margin-top: lines(5) !important;
        }
    }
}

    .l-hero-header__content {
        position: relative;
        padding: lines(2) 0 lines(3);
        z-index: 2;

        @include media('<layout') {
            padding-top: lines(1);
        }

        @include media('<line') {
            padding: 0;
        }
    }

        .l-hero-header__wrapper {
            @include no-spacing;

            display: flex;
            align-items: center;
            justify-content: space-between;

            &:after {
                display: none;
            }
        }

            .l-hero-header__logo {
                display: block;
                flex: none;
                height: lines(2);

                @include media('>=line') {
                    display: none;
                }
            }

            .l-hero-header__audio-control {
                float: left;
                color: color(background);
                transition: color .3s;

                @include media('<line') {
                    display: none;
                }

                &:hover,
                &:focus {
                    color: color(highlight--light);
                }
            }

            .l-hero-header__secondary-nav {
                float: right;
                color: color(background) !important;

                @include media('<line') {
                    display: none;
                }
            }

            .l-hero-header__switch {
                display: flex;
                align-items: center;
                font-family: font(sans-serif);
                text-transform: uppercase;
                letter-spacing: .05em;

                &:hover,
                &:focus {
                    color: color(highlight);
                }

                @include media('>=line') {
                    display: none;
                }
            }


        .l-hero-header__promo {
            @include no-spacing;

            padding-top: lines(10);

            @include media('<line') {
                display: none;
            }
        }

            .l-hero-header__hero-logo {
                @include center;

                width: 35em;
            }

            .l-hero-header__headline {
                @include aloof(8);
                @include display-type;

                color: color(background);
                text-align: center;
                text-transform: uppercase;
                letter-spacing: .4em;
            }

            .l-hero-header__icon {
                @include island(2);
                @include center;

                display: block;
                color: color(background);
                transform: rotate(90deg);
            }

        .l-hero-header__nav {
            @include island(3);

            display: flex;
            justify-content: center;
            color: color(background);
            position: relative;

            @include media('<line') {
                @include out-of-flow;

                display: block;
                margin-right: 0;
                margin-left: 0;
                position: fixed;
                top: lines(3);
                left: 0;
                bottom: 0;
                width: 80%;
                box-shadow: 1px 0 0 0 rgba(black, .075);
                transform: translateZ(0) translateX(-100%);
                will-change: transform;
                transition: transform .3s ease-in;
                z-index: 10000;

                &[aria-expanded="true"],
                &:target {
                    transform: translateZ(0);
                    transition-timing-function: ease-out;
                }
            }
        }

    .l-hero-header__video {
        @include no-spacing;

        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        transform: translateY(-50%);
        object-fit: cover;

        @include media('<line') {
            display: none;
        }
    }
