/* ==========================================================================
   Header
   ========================================================================== */

.l-header {
    $height: lines(5);

    @include no-spacing;

    padding: lines(1) 0 lines(.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: color(background);
    z-index: 10000;
    border-bottom: 1px solid rgba(black, .075);
    height: $height;

    @include media('<line') {
        height: lines(3);
        padding: lines(.5) 0;
    }

    & + * {
        margin-top: $height !important;

        @include media('<line') {
            margin-top: lines(3) !important;
        }
    }
}

    .l-header__wrapper {
        @include no-spacing;

        display: flex;
        align-items: flex-end;

        @include media('<line') {
            align-items: center;
            justify-content: space-between;
            padding: 0 const(GUTTER) * 2;

            &:after {
                display: none;
            }
        }
    }

        .l-header__logo {
            display: inline-block;
            height: lines(2.5);
            margin-top: lines(.5);
            margin-bottom: lines(.5);

            @include media('<line') {
                display: block;
                flex: none;
                margin-top: 0;
                margin-bottom: 0;
                height: lines(2);
            }
        }

        .l-header__switch {
            display: flex;
            align-items: center;
            font-family: font(sans-serif);
            text-transform: uppercase;
            letter-spacing: .05em;

            &:hover,
            &:focus {
                color: color(highlight);
            }

            @include media('>=line') {
                display: none;
            }
        }

        .l-header__nav {
            display: inline-block;
            margin-right: 2vw;
            margin-left: auto;

            @include media('<layout') {
                margin-right: 0;
            }

            @include media('<line') {
                @include out-of-flow;

                display: block;
                margin-right: 0;
                margin-left: 0;
                position: fixed;
                top: lines(3);
                left: 0;
                bottom: 0;
                width: 80%;
                box-shadow: 1px 0 0 0 rgba(black, .075);
                transform: translateZ(0) translateX(-100%);
                will-change: transform;
                transition: transform .3s ease-in;

                &[aria-expanded="true"],
                &:target {
                    transform: translateZ(0);
                    transition-timing-function: ease-out;
                }
            }
        }

    .l-header__secondary-nav {
        text-align: right;
        margin-bottom: lines(-1);

        @include media('<line') {
            display: none;
        }
    }
