/* ==========================================================================
   Main content
   ========================================================================== */

.l-main-content {

    &--aloof {
        padding-bottom: lines(3);
    }
}

    .l-main-content__bar {
        padding: lines(1) 0;
        background: color(shade);
    }

    .l-main-content__wrapper {
        @include no-spacing;

        margin-top: 0;
        display: flex;
    }

        .l-main-content__sidebar {
            float: left;
            flex: none;
            width: 25%;
        }

        .l-main-content__column {
            float: left;
            flex: none;
            width: 75%;
            padding: lines(2) 0 lines(3);
        }

            .l-main-content__section {
                @include island(3);

                padding-bottom: lines(1);
                border-bottom: 1px solid color(shade--dark);

                &:last-child {
                    padding-bottom: 0;
                    border-bottom: 0;
                }

                &--intro {
                    min-height: lines(7.5);
                }

                &--open {
                    padding-bottom: 0;
                    border-bottom: 0;
                }
            }

                .l-main-content__heading {
                    @include snug(.5);

                    color: color(highlight);
                    text-transform: uppercase;
                    text-align: center;
                }

                .l-main-content__tabs {
                    @include island(2);
                }

                    .l-main-content__tab {
                        background: color(highlight);
                        color: color(background);
                        min-width: 15em;

                        &:hover,
                        &:focus {
                            background-color: tint(color(highlight), .2);
                            color: color(background);
                        }

                        &[aria-pressed="true"] {
                            color: color(text--dark);
                            background: color(background);
                        }
                    }

        .l-main-content__pane {

            .js &:not([aria-expanded="true"]) {
                display: none;
            }
        }

