/* ==========================================================================
   Non-critical
   ========================================================================== */

@import "base/functions";
@import "base/config";
@import "base/helpers";
@import "base/media-queries";


/* Methods
   ========================================================================== */

@mixin define-font($name, $file, $weight: null, $style: null) {
    @font-face {
        font-family: $name;
        src: base64('../public/assets/site/font/' + $file + '.woff') format('woff');
        @if $weight not null {
            font-weight: $weight;
        }
        @if $style not null {
            font-style: $style;
        }
    }
}

@function asset($file) {
    @return url(#{'assets/site/img/' + $file});
}


/* Definitions
   ========================================================================== */

@include define-font('Playfair Display', 'playfairdisplay-regular', 400);
@include define-font('Playfair Display', 'playfairdisplay-italic', 400, italic);
@include define-font('Montserrat', 'montserrat-regular', 400);
@include define-font('Montserrat', 'montserrat-bold', 700);