/* ==========================================================================
   Button
   ========================================================================== */

.e-button {
    $backgroundColor: color(highlight);

    background: $backgroundColor;
    color: color(background);
    cursor: pointer;
    display: inline-block;
    line-height: 1.25;
    font-weight: 400;
    padding: 1.5em 2em;
    text-align: center;
    font-style: italic;
    text-decoration: none;
    transition: background-color .3s;

    &:hover,
    &:focus {
        background: lighten($backgroundColor, 5%);
    }

    &:active,
    &[aria-pressed="true"] {
        background: darken($backgroundColor, 5%);
    }

    &__icon:first-child {
        margin-right: 1rem;
    }
}