/* ==========================================================================
   Button
   ========================================================================== */

.e-button {
    $backgroundColor: color(highlight);

    background: $backgroundColor;
    color: color(background);
    cursor: pointer;
    display: inline-block;
    line-height: 1.25;
    font-weight: 400;
    padding: 1.25em 2em;
    text-align: center;
    font-weight: 700;
    font-family: font(sans-serif);
    text-transform: uppercase;
    letter-spacing: .1em;
    text-decoration: none;
    transition: background-color .3s;

    &:hover,
    &:focus {
        background: lighten($backgroundColor, 5%);
    }

    &:active,
    &[aria-pressed="true"] {
        background: darken($backgroundColor, 5%);
    }
}
