/* ==========================================================================
   Heading
   ========================================================================== */

.e-heading,
%e-heading {
    @include display-type;

    font-size: inherit;

    > a {
        color: inherit;
        text-decoration: none;
    }

    &--stern {
        font-family: font(sans-serif);
        text-transform: uppercase;
        letter-spacing: .05em;
    }

    &--grand {
        text-transform: uppercase;
        color: color(highlight);
    }
}