/* ==========================================================================
   Icons
   ========================================================================== */

.e-icon {
    $size: 1em;
    $gap: .5em;
    @include size($size);

    display: inline-block;
    margin-top: 0;
    fill: currentcolor;
    vertical-align: middle;

    &--wide {
        width: $size * 2;
    }
}
