/* ==========================================================================
   Icons
   ========================================================================== */

.e-icon {
    $size: 1em;
    $gap: .5em;
    @include size($size);

    display: inline-block;
    margin-top: 0;
    fill: currentcolor;
    vertical-align: middle;

    &--wide {
        width: $size * 2;
    }

    &--bordered {
        border: 1px solid currentcolor;
        border-radius: 50%;
        padding: .075em;
    }

    &--aloof {

        &:first-child {
            margin-right: .75rem;
        }

        &:last-child {
            margin-left: .75rem;
        }

        &:only-child {
            margin-left: 0;
            margin-right: 0;
        }
    }
}
