/* ==========================================================================
   Input
   ========================================================================== */

.e-input {
    display: block;
    width: 100%;
    max-width: 25em;
    padding: lines(.75) 1em;
    background: color(background);
    border: 1px solid color(highlight);
    color: color(text);
    transition: background-color .3s;

    &[cols] {
        height: auto;
    }

    &:focus {
       background: tint(color(highlight--light), .85);
    }

    @include media('<line') {
        max-width: none;
    }

    &[type="checkbox"],
    &[type="radio"] {
        @include hide;

        & + .e-input--faux {
            @include size(1.5em);

            padding: 0;
            transition: background-color .3s;
            position: relative;
            background: none;

            &:before {
                @include size(100%);

                content: '';
                position: absolute;
                opacity: 0;
                top: 0;
                left: 0;
                background: url('../img/icon/check.svg') center no-repeat;
                background-size: 85%;
                transition: opacity .2s;
            }
        }

        &:checked + .e-input--faux:before {
            opacity: .65;
        }

        &:focus + .e-input--faux {
           background: tint(color(highlight--light), .75);
        }
    }

    &--full-width {
        max-width: none;
    }
}

    .e-input__icon {
        @include size(80%);
    }
