/* ==========================================================================
   Input
   ========================================================================== */

.e-input {
    display: block;
    width: 100%;
    max-width: 25em;
    padding: lines(.5) 1em;
    background: color(background);
    border: 1px solid color(highlight);
    color: color(text);
    transition: background-color .3s, border-color .3s;

    &:focus {
       background-color: tint(color(highlight--light), .85);
    }

    &.is-invalid:not(:focus) {
        border-color: color(error);
    }

    &[cols] {
        height: auto;
    }

    @include media('<line') {
        max-width: none;
    }

    &[type="checkbox"],
    &[type="radio"] {
        @include hide;

        & + .e-input--faux {
            @include size(1.5em);

            padding: 0;
            transition: background-color .3s, border-color .3s;
            position: relative;
            background: none;
            flex: none;

            &:before {
                @include size(100%);

                content: '';
                position: absolute;
                opacity: 0;
                top: 0;
                left: 0;
                background: url('../img/icon/check.svg') center no-repeat;
                background-size: 85%;
                transition: opacity .2s;
            }


        }

        &:checked + .e-input--faux:before {
            opacity: 1;
        }

        &:focus + .e-input--faux {
           background-color: tint(color(highlight--light), .75);

           &.e-input--subtle {
                border-color: color(text--dark);
                background-color: inherit;
           }
        }
    }

    &--full-width {
        max-width: none;
    }

    &--subtle {
        border-color: color(shade--dark);

        &:focus {
            border-color: color(text--dark);
            background: inherit;
        }
    }
}

    .e-input__icon {
        @include size(80%);
    }
