/* ==========================================================================
   Configuration
   ========================================================================== */

/* Functions
   ========================================================================== */

$constants: () !global;

@mixin const($name, $value) {
    @if map-has-key($constants, $name) {
        @error 'Constant `#{$name}` already defined.';
    }

    $constants: map-merge($constants, ($name: $value)) !global;
}

@function const($name) {
    @if not map-has-key($constants, $name) {
        @error 'Unknown constant `#{$name}`.';
    }

    @return map-get($constants, $name);
}


/* Typography
   ========================================================================== */

@include const('BASE', .75);
@include const('LINE_HEIGHT', 1.6);
@include const('LINE_LENGTH', 67.5em);


/* Layout
   ========================================================================== */

@include const('GUTTER', 2%);
@include const('LAYOUT_WIDTH', const(LINE_LENGTH) + const(LINE_LENGTH) * macro-scale(-1));


/* Colors
   ========================================================================== */

@include const('COLORS', (
    background: #fff,
    text: #706259,
    text--dark: #010100,
    shade: #f8f8f8,
    shade--dark: #dedede,
    highlight: #ab8249,
    highlight--light: #ddcdb6,
    error: #bf0000
));

@function color($name) {
    @return map-get(const('COLORS'), $name);
}


/* Fonts
   ========================================================================== */

@include const('FONTS', (
    serif: ('Playfair Display', 'Helvetica Neue', Helvetica, 'Segoe UI', Roboto, Arial, sans-serif),
    sans-serif: ('Montserrat', 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif)
));

@function font($name) {
    @return map-get(const('FONTS'), $name);
}
