/* ==========================================================================
   Bullet list
   ========================================================================== */

.c-bullet-list,
%c-bullet-list {
    @extend %o-block-list;
    $taper: 1.25em;
    $size: 5px;

    > li {
        padding-left: $taper;

        &:before {
            @include size($size);

            content: '';
            float: left;
            margin-top: calc(#{const(LINE_HEIGHT) * .5em} - #{$size / 2});
            margin-left: -$taper;
            background: color(highlight);
            border-radius: 50%;
        }
    }
}