/* ==========================================================================
   Container
   ========================================================================== */

.c-container {
    @include v-spacing(.5);

    border: 1px solid color(highlight--light);
    padding: lines(2) 5em;
}

    .c-container__heading {
        text-transform: uppercase;
        color: color(highlight);
        text-align: center;
    }

    .c-container__headline {
        text-transform: uppercase;
        font-family: font(sans-serif);
        text-align: center;
        color: color(text--dark);
    }