/* ==========================================================================
   Form cell
   ========================================================================== */

.c-form-cell {
    @include no-spacing;

    &--inline {
        @include h-spacing(1.5rem);

        display: flex;
        align-items: center;

        @include media('<line') {
            @include v-spacing(.25);

            display: block;
        }
    }
}

    .c-form-cell__label {
        display: block;

        &--stern {
            text-transform: uppercase;
            font-family: font(sans-serif);
            font-weight: 700;
            letter-spacing: .1em;
        }

        &--fixed {
            min-width: 10em;

            @include media('<line') {
                min-width: 0;
            }
        }

        &--push-up {
            align-self: flex-start;
            margin-top: lines(1);
        }
    }

    .c-form-cell__input {
        display: block;
    }