/* ==========================================================================
   Footer layout
   ========================================================================== */

.c-footer-layout {
    @include island(3);

    border: solid rgba(color(background), .25);
    border-width: 1px 0;

    &:first-child {
        border-top: 0;
    }

    &:last-child {
        border-bottom: 0;
    }

    @include media('<line') {
        padding: lines(2) 0;
    }
}

    .c-footer-layout__wrapper {
        @include no-spacing;

        display: flex;

        @include media('<line') {
            @include v-spacing(2);

            display: block;
        }
    }

        .c-footer-layout__item {
            padding: lines(2) const(GUTTER) * 2;
            border-right: 1px solid rgba(color(background), .25);

            &:first-child {
                padding-left: 0;
                flex: 2.25;
            }

            &:last-child {
                padding-right: 0;
                border-right: 0;
                flex: 1;
            }

            @include media('<line') {
                border: 0;
                padding: 0;
                text-align: center;
            }
        }
