/* ==========================================================================
   Form cell
   ========================================================================== */

.c-form-cell {
    @include no-spacing;

    position: relative;

    &--inline {
        @include h-spacing(1.5rem);

        display: flex;
        align-items: center;

        &:not(&--rigid) {

            @include media('<line') {
                @include h-spacing(0);
                @include v-spacing(.25);

                flex-direction: column;
            }
        }

        &--align-top {
            align-items: flex-start;
        }
    }

    &--squashed {
        padding-left: calc(10em + 1.5rem);

        @include media('<line') {
            padding-left: 0;
        }
    }
}

    .c-form-cell__label {
        display: block;

        &--stern {
            text-transform: uppercase;
            font-family: font(sans-serif);
            letter-spacing: .1em;
        }

        &--fixed {
            min-width: 10em;

            @include media('<line') {
                min-width: 0;
            }
        }

        &--push-up {
            align-self: flex-start;
            margin-top: lines(.675);
        }
    }

    .c-form-cell__input {
        display: block;
    }

    .c-form-cell__error {
        @include out-of-flow;

        position: absolute;
        color: color(error);
        text-align: right;
        bottom: 0;
        right: 0;
        margin-right: 0;
        font-family: font(sans-serif);

        & ~ .c-form-cell__input {
            margin-bottom: lines(1.5);
        }
    }
