/* ==========================================================================
   Gallery
   ========================================================================== */

.c-gallery {
    @include no-spacing;

    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        display: block;
        padding-bottom: 66%;
    }

    &.is-manipulated:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10;
        background: linear-gradient(
            color(background),
            rgba(color(background), 0) 20%,
            rgba(color(background), 0) 80%,
            color(background)
        );
        pointer-events: none;
    }
}

    .c-gallery__thumbnails {
        @include v-spacing(.5);

        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%) translateZ(0);
        z-index: 100;
    }

        .c-gallery__thumbnail {
            @include size(5em);

            display: block;
            position: relative;
            border: 1px solid color(shade--dark);
            opacity: .6;
            transition: opacity .3s, border-color .3s;
            background: color(background);

            &:before {
                content: '';
                display: block;
                padding-bottom: 100%;
            }

            &:hover,
            &:focus {
                opacity: 1;
            }

            &.is-active {
                border-color: color(highlight--light);
                opacity: 1;
            }
        }

    .c-gallery__images {
        @include no-spacing;

        z-index: 1;
        background: color(background);
    }

        .c-gallery__image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-height: 90%;
            width: 90%;
            object-fit: scale-down;

            &--stacked {
                opacity: 0;
                z-index: -1;
                transition: opacity .3s;
                transform: translate(-50%, -50%) translateZ(0);

                &.is-active {
                    opacity: 1;
                    z-index: 1;
                }

                &.is-manipulated {
                    max-height: none;
                }
            }
        }