/* ==========================================================================
   Gestures
   ========================================================================== */

.c-gestures {
    @include island(5);

    border: 1px solid color(highlight--light);
    padding: lines(3) 5em;
    position: relative;
}

    .c-gestures__header {
        @include v-spacing(.25);

        text-align: center;
        position: absolute;
        top: 0;
        left: 50%;
        padding: 0 1em;
        transform: translate(-50%, -50%);
        background: color(background);
    }

        .c-gestures__title {
            color: color(highlight);
            text-transform: uppercase;
        }

        .c-gestures__subtitle {
            font-family: font(sans-serif);
            text-transform: uppercase;
            letter-spacing: .1em;
        }

    .c-gestures__list {
        @include no-spacing;
        @include h-spacing(4em);

        display: flex;
        justify-content: space-between;
        counter-reset: gestures;
    }

        .c-gestures__item {
            @include no-spacing;

            display: flex;
            flex-direction: column;
            align-items: center;
            counter-increment: gestures;
            flex: 1;
            text-align: center;
            font-style: italic;
            color: color(text--dark);
            //padding: lines(3) 0;
        }

            .c-gestures__media {
                @include size(9em);

                background: color(shade);
                border-radius: 50%;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: .4em;
                    left: .4em;
                    bottom: .4em;
                    right: .4em;
                    border-radius: 50%;
                    border: 1px solid color(background);
                }

                > * {
                    @include size(100%);

                    display: block;
                    mix-blend-mode: multiply;
                }
            }

            .c-gestures__desc {
                margin: auto 0;
                padding: lines(2) 0;
                position: relative;

                &:before {
                    content: counter(gestures);
                    display: block;
                    color: color(shade--dark);
                    font-size: 11em;
                    line-height: 1;
                    position: absolute;
                    z-index: -1;
                    top: 50%;
                    width: 100%;
                    transform: translateY(-50%);
                    user-select: none;
                    font-feature-settings: 'lnum';
                }
            }