/* ==========================================================================
   Horizontal spot
   ========================================================================== */

.c-horizontal-spot {
    @include no-spacing;

    display: flex;
    align-items: center;

    @include media('<line') {
        @include v-spacing(1);

        display: block;
    }

    @mixin no-flexbox {
        @include clearfix;
    }
}

    .c-horizontal-spot__media {
        float: left;
        margin-right: 3em;

        @include media('<line') {
            @include center;

            float: none;
        }
    }

    .c-horizontal-spot__content {
        @include v-spacing(.25);

        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

        .c-horizontal-spot__title {
            font-style: italic;
        }

        .c-horizontal-spot__subtitle {
            font-family: font(sans-serif);
            text-transform: uppercase;
            color: color(text--dark);
            margin-bottom: auto;
        }

        .c-horizontal-spot__link {
            @include aloof(1);

            align-self: flex-start;
        }
