/* ==========================================================================
   More link
   ========================================================================== */

.c-more-link {
    display: inline-block;
    color: color(text--dark);

    &:hover,
    &:focus {
        color: color(highlight);
    }

    &--inverse {
        color: color(background) !important;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}
