/* ==========================================================================
   More link
   ========================================================================== */

.c-more-link {
    display: inline-block;
    color: color(text--dark);

    &:hover,
    &:focus {
        color: color(highlight);
    }
}