/* ==========================================================================
   Pagination
   ========================================================================== */

.c-pagination {
    @include island(2);
    @include no-spacing;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include no-flexbox {
        @include clearfix;
    }
}

    .c-pagination__link {
        @include no-spacing;

        font-style: italic;
        display: flex;
        align-items: center;
        padding: .5em 1.25em;
        border: 1px solid color(highlight--light);
        transition: background-color, color, border-color;
        transition-duration: .3s;

        &:hover,
        &:focus {
            background: color(highlight);
            color: color(background);
            border-color: color(highlight);
        }

        &[rel="prev"] {
            float: left;
        }

        &[rel="next"] {
            float: right;
        }

        @mixin no-flexbox {
            display: block;
        }
    }

        .c-pagination__icon {

            .c-pagination__link[rel="prev"] & {
                transform: scaleX(-1);
            }
        }
