/* ==========================================================================
   Product reviews
   ========================================================================== */

.c-product-reviews {
    background: color(shade);
    padding: lines(4) const(GUTTER) * 2;

    @include media('<line') {
        padding: lines(2) const(GUTTER);
    }
}

    .c-product-reviews__heading {
        @include island(2);

        letter-spacing: .2em;
        font-weight: 700;
        text-align: center;

        &:after {
            display: inline-block;
            content: '(' attr(data-count) ')';
            color: color(highlight);
            margin-left: .5em;
        }

        @include media('<line') {
            @include island(1);
        }
    }

    .c-product-reviews__spot {

    }

    .c-product-reviews__form {
        @include island(5);

        padding: lines(3) const(GUTTER) * 2;
        background: color(background);

        @include media('<line') {
            padding: lines(2) const(GUTTER);
        }
    }
