/* ==========================================================================
   Rating
   ========================================================================== */

.c-rating {
    @include no-spacing;

    color: color(highlight);
    display: flex;
}

    .c-rating__icon {
        display: inline-block;
        transition: opacity .3s;

        &--limit ~ & {
            opacity: .5;
        }
    }