/* ==========================================================================
   Site navigation
   ========================================================================== */

.c-site-nav {

}

    .c-site-nav__list {
        @include h-spacing(1.25em);
    }

        .c-site-nav__item {

            &:before {
                @include size(.25em);

                content: '';
                display: inline-block;
                border-radius: 50%;
                background: currentColor;
                vertical-align: middle;
                margin-right: 1.25em;
            }

            &:first-child:before {
                display: none;
            }
        }

            .c-site-nav__link {
                @include display-type;

                font-family: font(sans-serif);
                text-transform: uppercase;
                transition: color .3s;

                &:hover {
                    color: color(highlight);
                }
            }
