/* ==========================================================================
   Section
   ========================================================================== */

.c-section {
    position: relative;
    border: solid color(highlight--light);
    border-width: 1px 0;
    padding: lines(2) 0;
    position: relative;

    &:last-child:not(&--closed) {
        padding-bottom: 0;
        border-bottom: 0;
    }

    &--open {
        @include island(3);

        border-bottom: 0;
        padding-top: lines(3);
        padding-bottom: 0;

        &--tight {
            padding-top: lines(1.5);
        }
    }

    &--closed {
        border-width: 1px;
        padding: lines(1);

        &--loose {
            padding: lines(2);
        }
    }
}

    .c-section__heading {
        @include out-of-flow;

        letter-spacing: .15em;
        background: color(background);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0 3rem;
        //font-weight: 700;
        white-space: nowrap;
        text-align: center;

        @include media('<line') {
            white-space: normal;
        }
    }

    .c-section__media {
        @include center;

        width: 100%;
    }
