/* ==========================================================================
   Section
   ========================================================================== */

.c-section {
    position: relative;
    border: solid color(highlight--light);
    border-width: 1px 0;
    padding: lines(1.5) 1em;
    position: relative;

    &--open {
        @include island(4);

        border-bottom: 0;
        padding-top: lines(3);
        padding-bottom: 0;
    }
}

    .c-section__heading {
        @include out-of-flow;

        letter-spacing: .125em;
        background: color(background);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0 3rem;
        white-space: nowrap;
        text-align: center;

        @include media('<line') {
            white-space: normal;
        }
    }
