/* ==========================================================================
   Site map
   ========================================================================== */

.c-site-map {
    @include no-spacing;
    @include h-spacing(3rem);

    display: flex;
    justify-content: space-between;

    @include media('<line') {
        @include h-spacing(0);
        @include v-spacing(2);

        display: block;
    }
}

    .c-site-map__column {
        @include v-spacing(2);

        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;

        @include media('<line') {
            display: block;
            text-align: center;
        }
    }

        .c-site-map__item {
            @include v-spacing(.5);

            @include media('<line') {
                @include v-spacing(.25);
            }
        }

            .c-site-map__section {

                &:hover,
                &:focus {
                    text-decoration: underline;
                }
            }

            .c-site-map__list {
                @include v-spacing(.5);
            }

                .c-site-map__subsection {
                    font-family: font(sans-serif);
                    color: color(highlight--light);

                    &:hover,
                    &:focus {
                        color: inherit;
                    }
                }
