/* ==========================================================================
   Site navigation
   ========================================================================== */

.c-site-nav {
    @include clearfix;
    @include no-spacing;
    @include h-spacing(3em);

    @include media('<layout') {
        @include h-spacing(1em);
    }

    @include media('<line') {
        @include h-spacing(0);

        background: color(shade);
    }

    &--centered {
        display: flex;
        justify-content: center;
    }
}

    .c-site-nav__list {
        @include no-spacing;
        @include h-spacing(1.25em);

        float: left;
        display: flex;
        padding: .75em 0;
        padding-left: 3em;
        border-left: 1px solid color(shade--dark);

        @include media('<layout') {
            @include h-spacing(1em);

            padding-left: 0;
            border-left: 0;
        }

        @include media('<line') {
            @include h-spacing(0);

            float: none;
            display: block;
            padding: 0 const(GUTTER) * 3 !important;
            border: 0;
            background: color(background);

            &:last-child {
                 background: color(shade);
            }
        }

        &:first-child {
            padding-left: 0;
            border-left: 0;
        }
    }

        .c-site-nav__item {
            display: inline-block;

            &:before {
                @include size(4px);

                content: '';
                display: inline-block;
                border-radius: 50%;
                background: currentColor;
                vertical-align: .2em;
                margin-right: 1.25em;
            }

            &:first-child:before {
                display: none;
            }

            @include media('<layout') {

                &:before {
                    display: none;
                }
            }

            @include media('<line') {
                display: block;
                border-top: 1px solid color(shade--dark);

                &:first-child {
                    border-top: 0;
                    padding-top: 0;
                }

                &:before {
                    display: none;
                }
            }
        }

            .c-site-nav__link {
                @include display-type;

                font-family: font(sans-serif);
                text-transform: uppercase;
                letter-spacing: .05em;

                &:hover {
                    color: color(highlight);
                }

                @include media('<layout') {
                    letter-spacing: 0;
                }

                @include media('<line') {
                    @include no-spacing;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: lines(.875) 0;
                    color: color(highlight);

                    .c-site-nav__list:last-child & {
                        color: color(text);
                    }
                }
            }

                .c-site-nav__icon {
                    margin-right: 1em;

                    @include media('>=line') {
                        display: none;
                    }
                }

            .c-site-nav__subnav {
                @include out-of-flow;

                position: absolute;
                top: 100%;
                left: 0;
                right: 100%;
                z-index: 1000;
                opacity: 0;
                pointer-events: none;
                overflow: hidden;
                transition: opacity .3s, right 0s .2s;
                transform: translateZ(0);

                &.is-active {
                    opacity: 1;
                    right: 0;
                    pointer-events: initial;
                    transition: right 0s, opacity .4s;
                }

                .c-site-nav--reversed & {
                    top: auto;
                    bottom: 100%;
                    bottom: calc(100% + #{lines(1)});
                }
            }
