/* ==========================================================================
   Site navigation
   ========================================================================== */

.c-site-nav {
    @include clearfix;
    @include no-spacing;
    @include h-spacing(3em);
}

    .c-site-nav__list {
        @include no-spacing;
        @include h-spacing(1.25em);

        float: left;
        display: flex;
        padding: .75em 0;
        padding-left: 3em;
        border-left: 1px solid color(shade--dark);

        &:first-child {
            padding-left: 0;
            border-left: 0;
        }
    }

        .c-site-nav__item {
            display: inline-block;

            &:before {
                @include size(4px);

                content: '';
                display: inline-block;
                border-radius: 50%;
                background: currentColor;
                vertical-align: .2em;
                margin-right: 1.25em;
            }

            &:first-child:before {
                display: none;
            }
        }

            .c-site-nav__link {
                @include display-type;

                font-family: font(sans-serif);
                text-transform: uppercase;
                letter-spacing: .05em;

                &:hover {
                    color: color(highlight);
                }
            }

            .c-site-nav__subnav {
                @include out-of-flow;

                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                z-index: 1000;
                //opacity: 0;
                //pointer-events: none;
                transition: opacity .3s;

                .c-site-nav__link:hover + & {
                    opacity: 1;
                    pointer-events: initial;
                }
            }
