/* ==========================================================================
   Secondary nav
   ========================================================================== */

.c-secondary-nav {
    @include no-spacing;
    @include h-spacing(1em);
}

    .c-secondary-nav__item {
        display: inline-block;
        padding-left: 1em;
        border-left: 1px solid color(highlight--light);

        &:first-child {
            border-left: 0;
            padding-left: 0;
        }
    }

        .c-secondary-nav__link {
            text-transform: uppercase;
            font-family: font(sans-serif);
            color: color(highlight);

            &:hover,
            &:focus {
                color: color(text);
            }
        }

        .c-secondary-nav__search {
            display: inline-block;
        }