/* ==========================================================================
   Spot
   ========================================================================== */

.c-spot {
    @include island(2);
    @include v-spacing(.5);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    transform: translateZ(0);
}

    .c-spot__media {
        @include center;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: lines(10);
        transition: transform .3s;

        .c-spot:hover &,
        .c-spot:focus & {
            transform: scale(1.125);
        }

        > * {
            object-fit: contain;
            max-height: 100%;
        }
    }

    .c-spot__title {
        @include aloof(1.5);

        text-transform: uppercase;
        color: color(highlight);
        margin-bottom: auto;
    }

    .c-spot__subtitle {
        font-weight: 700;
        min-height: 1.375 * 2em;
    }

    .c-spot__link {
        @include island(2);

        @include media('<line') {
            @include aloof(1);
        }

        &--overlay {
            @include out-of-flow;

            font-size: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }