/* ==========================================================================
   Spot
   ========================================================================== */

.c-spot {
    @include island(2);
    @include v-spacing(.5);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

    .c-spot__media {
        @include center;

        display: block;
        margin-top: auto;
    }

    .c-spot__title {
        @include aloof(2);

        text-transform: uppercase;
        color: color(highlight);
    }

    .c-spot__subtitle {
        text-transform: uppercase;
        font-family: font(sans-serif);
    }

    .c-spot__link {
        @include aloof(2);

        @include media('<line') {
            @include aloof(1);
        }
    }