/* ==========================================================================
   Search
   ========================================================================== */

.c-search {
    @include no-spacing;
}

    .c-search__input {
        width: 8em;
        display: inline-block;
        color: color(highlight);
        text-transform: uppercase;
        font-family: font(sans-serif);
        vertical-align: middle;
    }

    .c-search__submit {
        display: inline-block;
        display: inline-flex;
        align-items: center;
        margin-left: .5rem;
        color: color(highlight);
        vertical-align: top;
    }
