/* ==========================================================================
   Inline list
   ========================================================================== */

.o-inline-list,
%o-inline-list {
    @include no-spacing;
    @include h-spacing(1rem);

    margin-bottom: -1rem;
    align-items: center;

    > * {
        display: inline-block;
        margin-bottom: 1.125rem;
        vertical-align: middle;
    }

    &--align-top {
        align-items: flex-start;

        > * {
            vertical-align: top;
        }
    }

    &--loose {
        @include h-spacing(2rem);

        margin-bottom: -2rem;

        > * {
            margin-bottom: 2.125rem;
        }
    }

    &--tight {
        @include h-spacing(.5rem);

        margin-bottom: -.5rem;

        > * {
            margin-bottom: .675rem;
        }
    }

    &--snug {
        @include h-spacing(.25rem);

        margin-bottom: -.25rem;

        > * {
            margin-bottom: .375rem;
        }
    }

    &--spread,
    &--fill {
        display: flex;
        margin-bottom: 0;

        > * {
            margin-bottom: 0;
        }
    }

    &--spread {
        justify-content: space-between;
    }

    &--fill {

        > * {
            flex: 1;
        }
    }
}
