/* ==========================================================================
   Layout
   ========================================================================== */

.o-layout {
    @include no-spacing;

    display: flex;
    justify-content: space-between;

    @include media('<line') {
        @include v-spacing(1);

        display: block;
    }

    @mixin no-flexbox {
        @include clearfix;
    }
}

    .o-layout__item {
        $gutter: 2em;

        flex: 1;

        &:first-child {
            flex: macro-scale(1);
            margin-right: $gutter;
        }

        @include media('<layout') {

            &:first-child {
                flex: macro-scale(1);
            }
        }

        @include media('<line') {

            &:first-child {
                margin-right: 0 !important;
            }
        }

        .o-layout--equal > & {

            &:first-child {
                flex: 1;
            }
        }

        .o-layout--loose > & {

            &:first-child {
                margin-right: $gutter * 2;
            }
        }

         .o-layout--airy > & {

            &:first-child {
                margin-right: $gutter * 4;
            }
        }

        @mixin no-flexbox {
            float: right;
            width: calc(50% - #{($gutter / 2)});

            &:first-child {
                float: left;
            }
        }
    }
