/* ==========================================================================
   Wrapper
   ========================================================================== */

.o-wrapper {
    @include center;
    @include clearfix;

    max-width: const(LAYOUT_WIDTH);
    padding: 0 2vw;

    @include media('<line') {
        padding: 0 4vw;
    }

    &--expanded {
        padding: 0 1vw;

        @include media('<line') {
            padding: 0 4vw;
        }
    }

    &--reduced {
        padding: 0 3vw;

        @include media('<line') {
            padding: 0 6vw;
        }
    }

    &--full {
        padding: 0;
    }

    &--medium {
        max-width: const(LAYOUT_WIDTH) * .75;
    }

    &--small {
        max-width: const(LAYOUT_WIDTH) * .6;
    }
}
